.pat_question{
  font-size: 26px;
  font-family: CMainBold;
  color: #fff;
  margin-bottom: 20px;
  line-height: 30px;
}

.pat_button_resp{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 19px;
  font-family: CMainRegular;
  background-color: #141514;
  border-radius: 7px;
  padding: 20px;
  line-height: 30px;
}

.pat_button_resp:active{
  background:#f44336;
}

.book_begin{
  font-size: 30px;
  font-family: CMainBold;
  line-height: 40px;
}

.acs_text{
  color: #ff7e75;
  line-height: 25px;
}

.resp_question{
  font-weight: bold;
  color: #82f9ad;
  font-size: 14px;
}

.resp_answer{
  color: #ffa6a6;
}


.bc_split{
  width:100%
}

.bc_split_{
  width:50%;
  display: inline-block;
}
/* .pat_button_resp:hover{
  background:#f44336;
} */