.pat_question{
  font-size: 26px;
  font-family: CMainBold;
  color: #fff;
  margin-bottom: 20px;
  line-height: 30px;
}

.pat_button_resp{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 19px;
  font-family: CMainRegular;
  background-color: #141514;
  border-radius: 7px;
  padding: 20px;
  line-height: 30px;
}

.pat_button_resp:active{
  background:#f44336;
}

/* .pat_button_resp:hover{
  background:#f44336;
} */