.login-box{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: fit-content;
  /* border: 1px solid #eee; */
  border-radius: 30px;
  /* background-color: #171717; */
  /* background: #0e0e0e; */
  margin: auto;
  padding: 30px;
  /* box-shadow: 0px -2px 27px 5px rgba(50, 50, 93, 0.09), 1px 7px 16px -8px rgba(0, 0, 0, 0.2); */
  position: absolute;
  backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
 
}

.login-box .ant-input-affix-wrapper{
  border: none;
  outline: none;
}


body{
  /* font-family: 'CMainRegular' !important; */
}

.answer_container{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: fit-content;
  /* border: 1px solid #eee; */
  border-radius: 30px;
  /* background-color: #171717; */
  margin: auto;
  padding: 30px;
  /* box-shadow: 0px -2px 27px 5px rgba(50, 50, 93, 0.09), 1px 7px 16px -8px rgba(0, 0, 0, 0.2); */
  position: absolute;
}
 

.login-logo{
  width: 50px;
  margin-top: 4px;
  margin-bottom: 40px;
  
}   

.full-width-button{
  width: 100%;
  margin-bottom: 20px;
}

.ans-bg{
  height:100vh;
  background-color: #000;
}

.vh-bg{
  height:100vh;
  background-color: #00161f;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.logo-navbar-off{
  width:40px;
  height:40px;
  margin-top:40px;
  margin-bottom:40px;

}

.upload-progress-hide{
  display: none;
}

.upload-progress-show{
  display: block;
}

.btn_test_class_dis{
  cursor:not-allowed;
  opacity:0.2;
}

.btn_test_class_dis:hover{
  cursor:not-allowed;
  opacity:0.2 !important;
}
.btn_test_class{
  cursor:auto;
  opacity:1.0;
}

.chart_card_split_l{
  width:calc(450px);
  height: 520px;
  margin-right: 10px !important;
  display: inline-block;
}

.chart_card_split_r{
  height: 520px;
  vertical-align: top;
  width:calc(100% - 480px);
  margin-left:10px !important;
  display: inline-block;
  margin-right: 0px !important;

}

.uploaded_img{
  width:400px;
  height: 400px;
}











/* Mobile App Code */

.ans_logo{
  height: 70px;
  width: 70px;
  margin-bottom: 30px;
} 

.ans_title{
  font-size:34px;
  font-weight: bold;
}

.ans_content{
  font-size: 16px;
}


.answer_container{
  /* position: absolute !important; */
}

.getStartedbtn{
  margin-top: 20px;
  width: 100%;
  vertical-align: middle;
  padding-top: 15px !important;
  padding-bottom: 42px !important;
  font-size: 18px !important;
}

.anim_hide_div{
  transition: all 2s linear;
  animation: slideout 1s;
  animation-fill-mode: forwards;
}


.animation_div {
  transition: opacity 1.0s;
  opacity: 1;
 
  /* display: block; */
}
.animation_div.anim_hide {
  opacity: 0 !important;
  /* display: none; */
  pointer-events:none;
}

 
.hide_div{
  display: none;
}

@keyframes slideout {
   from { 
     margin-top: initial;
     opacity: 1.0;
     display: block;
  }
   to {
    margin-top: -500px;
    opacity: 0;
    display: none;
    }
}

@keyframes slidein {
  from { 
    margin-top: 500px;
    opacity: 0;
    display: block;
 }
  to {
   margin-top: 100px;
   opacity: 1.0;
   display: none;
   }
}

.show_div{
  display: block;
}

.child-content-holder{
  height: calc(100vh - 60px);
  padding:30px;
  overflow-x: hidden;
  padding-top: 90px;
  overflow-y: scroll; 
  
}

.mobile-navigation{
  height: 60px;
  background-color: #151414;
 
  /* display: grid; */
 
  

}

.mn-item{
  display: inline-block;
  padding-top: 10px;
  width:calc(100%/4);
  height: 60px;

  /* justify-self: center;  */
}

.mn_selected_item{
  background-color: #F44336;
  font-weight: bold;

}

.hm_icon{
    align-self: center;
}

.hm_text{
  margin-bottom: 0px;
  color: #fff;
  font-size: 12px;
  /* align-self: center; */
  /* font-weight: bold; */
}

.hm_icon_hold{
  margin:0 auto;
  width:0px;
  display: block;
  /* align-self: center; */
}

.ma-title{
  font-family: 'CMainBold';
  color: #fff;
  font-size:35px;
}

.today_date{
  margin-bottom: 0px;
}

.mh_book_ap{
  padding-top:30px;
  font-family: 'CMainBold';
  width:95%;
  background-color: #F44336;
  padding-bottom:10px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.mh_book_ap:hover{
  opacity: 0.8;
  cursor: pointer;
}

.ma-sub-title{
  font-family: 'CMainBold';
  color: #fff;
  font-size:20px;
}

.userimage{
  width:50px;
  height:50px;
  margin-bottom: 20px;
}

.hp_pp_name{
  color: #fff;
  font-size: 18px;
  margin-bottom: 0px;
  font-family: 'CMainBold';
}

.hp_info_p{
  margin-top:0px;
}

.hp_main_profile_holder{
  padding:20px;
  padding-top:30px;
  border-radius: 20px;
  background-color: rgb(22, 18, 18);
}

.edit_info{
  background-color: black;
  width:100px;
  padding:3px 0px;
  border-radius: 30px;
}

.edit_info:hover{
  opacity: 0.8;
  cursor: pointer;
}

.data_lock_divider{
  width:100%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #ff1e1e;
}

.data_lock_on{
  background-color: #4CAF50;
}

.data_lock_icon{
  font-family: 'CMainBold';
  font-size: 20px;
  display: inline-block;
  margin-right:10px;
  margin-bottom: 10px;
}

.data_lock_text{
  display: inline-block;
  font-size: 17px;
  font-family: 'CMainBold';
}

.access_div_holder{
  padding: 20px;
  padding-top: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: rgb(22, 18, 18);
}   

.access_big_lock{
  font-size: 23px;
}

.access_doctor_name{
  font-family: 'CMainBold';
  font-size: 18px;
  color: #fff;
  margin-bottom: 0px;
}
.access_doctor_license{
  margin-top:4px;
  margin-bottom: 0px;
}

.access_doctor_hid{
  margin-top:4px;
}

.access_div_left{
  width:50px;
  vertical-align: middle;
  display: inline-block;
}

.access_div_right{
  vertical-align: middle;
  width:calc(100% - 50px);
  display: inline-block;
}

.access_doctor_date{
  font-family: 'CMainBold';
  font-size: 12px;
  color: #ff857c;
}