.login-box{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: fit-content;
  /* border: 1px solid #eee; */
  border-radius: 30px;
  /* background-color: #171717; */
  margin: auto;
  padding: 30px;
  /* box-shadow: 0px -2px 27px 5px rgba(50, 50, 93, 0.09), 1px 7px 16px -8px rgba(0, 0, 0, 0.2); */
  position: absolute;
}

body{
  /* font-family: 'CMainRegular' !important; */
}

.answer_container{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: fit-content;
  /* border: 1px solid #eee; */
  border-radius: 30px;
  /* background-color: #171717; */
  margin: auto;
  padding: 30px;
  /* box-shadow: 0px -2px 27px 5px rgba(50, 50, 93, 0.09), 1px 7px 16px -8px rgba(0, 0, 0, 0.2); */
  position: absolute;
}
 

.login-logo{
  width: 50px;
  margin-top: 4px;
  margin-bottom: 40px;
  
}   

.full-width-button{
  width: 100%;
  margin-bottom: 20px;
}

.ans-bg{
  height:100vh;
  background-color: #000;
}

.vh-bg{
  height:100vh;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E") !important;
}

.logo-navbar-off{
  width:40px;
  height:40px;
  margin-top:40px;
  margin-bottom:40px;

}

.upload-progress-hide{
  display: none;
}

.upload-progress-show{
  display: block;
}

.btn_test_class_dis{
  cursor:not-allowed;
  opacity:0.2;
}

.btn_test_class_dis:hover{
  cursor:not-allowed;
  opacity:0.2 !important;
}
.btn_test_class{
  cursor:auto;
  opacity:1.0;
}

.chart_card_split_l{
  width:calc(450px);
  height: 520px;
  margin-right: 10px !important;
  display: inline-block;
}

.chart_card_split_r{
  height: 520px;
  vertical-align: top;
  width:calc(100% - 480px);
  margin-left:10px !important;
  display: inline-block;
  margin-right: 0px !important;

}

.uploaded_img{
  width:400px;
  height: 400px;
}











/* Mobile App Code */

.ans_logo{
  height: 70px;
  width: 70px;
  margin-bottom: 30px;
} 

.ans_title{
  font-size:34px;
  font-weight: bold;
}

.ans_content{
  font-size: 16px;
}


.answer_container{
  /* position: absolute !important; */
}

.getStartedbtn{
  margin-top: 20px;
  width: 100%;
  vertical-align: middle;
  padding-top: 15px !important;
  padding-bottom: 42px !important;
  font-size: 18px !important;
}

.anim_hide_div{
  transition: all 2s linear;
  animation: slideout 1s;
  animation-fill-mode: forwards;
}


.animation_div {
  transition: opacity 1.0s;
  opacity: 1;
 
  /* display: block; */
}
.animation_div.anim_hide {
  opacity: 0 !important;
  /* display: none; */
  pointer-events:none;
}

 
.hide_div{
  display: none;
}

@keyframes slideout {
   from { 
     margin-top: initial;
     opacity: 1.0;
     display: block;
  }
   to {
    margin-top: -500px;
    opacity: 0;
    display: none;
    }
}

@keyframes slidein {
  from { 
    margin-top: 500px;
    opacity: 0;
    display: block;
 }
  to {
   margin-top: 100px;
   opacity: 1.0;
   display: none;
   }
}

.show_div{
  display: block;
}

.child-content-holder{
  height: calc(100vh - 60px);
  padding:30px;
  overflow-x: hidden;
  padding-top: 90px;
  overflow-y: scroll; 
  
}

.mobile-navigation{
  height: 60px;
  background-color: #151414;
 
  /* display: grid; */
 
  

}

.mn-item{
  display: inline-block;
  padding-top: 10px;
  width:calc(100%/4);
  height: 60px;

  /* justify-self: center;  */
}

.mn_selected_item{
  background-color: #F44336;
  font-weight: bold;

}

.hm_icon{
    align-self: center;
}

.hm_text{
  margin-bottom: 0px;
  color: #fff;
  font-size: 12px;
  /* align-self: center; */
  /* font-weight: bold; */
}

.hm_icon_hold{
  margin:0 auto;
  width:0px;
  display: block;
  /* align-self: center; */
}

.ma-title{
  font-family: 'CMainBold';
  color: #fff;
  font-size:35px;
}

.today_date{
  margin-bottom: 0px;
}

.mh_book_ap{
  padding-top:30px;
  font-family: 'CMainBold';
  width:95%;
  background-color: #F44336;
  padding-bottom:10px;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.mh_book_ap:hover{
  opacity: 0.8;
  cursor: pointer;
}

.ma-sub-title{
  font-family: 'CMainBold';
  color: #fff;
  font-size:20px;
}

.userimage{
  width:50px;
  height:50px;
  margin-bottom: 20px;
}

.hp_pp_name{
  color: #fff;
  font-size: 18px;
  margin-bottom: 0px;
  font-family: 'CMainBold';
}

.hp_info_p{
  margin-top:0px;
}

.hp_main_profile_holder{
  padding:20px;
  padding-top:30px;
  border-radius: 20px;
  background-color: rgb(22, 18, 18);
}

.edit_info{
  background-color: black;
  width:100px;
  padding:3px 0px;
  border-radius: 30px;
}

.edit_info:hover{
  opacity: 0.8;
  cursor: pointer;
}

.data_lock_divider{
  width:100%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #ff1e1e;
}

.data_lock_on{
  background-color: #4CAF50;
}

.data_lock_icon{
  font-family: 'CMainBold';
  font-size: 20px;
  display: inline-block;
  margin-right:10px;
  margin-bottom: 10px;
}

.data_lock_text{
  display: inline-block;
  font-size: 17px;
  font-family: 'CMainBold';
}

.access_div_holder{
  padding: 20px;
  padding-top: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: rgb(22, 18, 18);
}   

.access_big_lock{
  font-size: 23px;
}

.access_doctor_name{
  font-family: 'CMainBold';
  font-size: 18px;
  color: #fff;
  margin-bottom: 0px;
}
.access_doctor_license{
  margin-top:4px;
  margin-bottom: 0px;
}

.access_doctor_hid{
  margin-top:4px;
}

.access_div_left{
  width:50px;
  vertical-align: middle;
  display: inline-block;
}

.access_div_right{
  vertical-align: middle;
  width:calc(100% - 50px);
  display: inline-block;
}

.access_doctor_date{
  font-family: 'CMainBold';
  font-size: 12px;
  color: #ff857c;
}